:host ::ng-deep {
  .grid {
    height: auto;
  }

  .fc-h-event .fc-event-title-container {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0px;
    cursor: pointer;
  }

  .fc-direction-ltr {
    height: auto;
  }

  @media screen and (max-width: 576px) {
    .card.grid {
      grid-template-columns: 1fr;
      height: calc(100vh - 150px);
    }
  }
}
