<p-fluid>

    <div   class="flex flex-col md:flex-row gap-8  ">
        <div class="md:w-1/2">
            
            <div *ngIf="servicePriceList" class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">List Vehicule</div>
                <p-table 
                    [paginator]="true"
                    [rows]="9"
                    [value]="servicePriceList" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th id="name">Price</th>
                            <th id="name">Serice</th>
                            <th id="name">Brand</th>
                            <th id="name">Model</th>
                            <th id="up">Update</th>  
                            <th id="del">Delete</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.price }}</td>                   
                            <td>{{ product.service.name }}</td>                   
                            <td>{{ product.car.brand }}</td>                   
                            <td>{{ product.car.model }}</td>                   
                            <td><p-button icon="pi pi-pencil" severity="success" outlined (onClick)="setUpdateValue(product)"/></td>          
                            <td><p-button icon="pi pi-trash" severity="danger" outlined (onClick)="open(product)"/></td>                   
                        </tr>
                    </ng-template>
                </p-table>
                <p-dialog header="Alert" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true">
                    <p class="leading-normal m-0 justify-center items-center">
                        Do you really want to delete these types of cars? This action is irreversible.
                      </p>
                      
                    <ng-template #footer>
                        <p-button label="Yes"severity="danger" (onClick)="close()" />
                    </ng-template>
                </p-dialog>  
            </div>
           
           
        </div>
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Vertical</div>
                <div class="flex flex-col gap-4 mt-10">
                    <div class="flex flex-wrap gap-2">
                        <label for="username">Car</label>
                        <p-select id="state" [(ngModel)]="dropdownItem" [options]="dropdownItemsCar" optionLabel="name" placeholder="Select One" class="w-full"></p-select>
                    </div>
                </div>
                <div class="flex flex-col gap-4 mt-10">
                    <div class="flex flex-wrap gap-2">
                        <label for="username">Service</label>
                        <p-select id="state" [(ngModel)]="dropdownItem" [options]="dropdownItemsService" optionLabel="name" placeholder="Select One" class="w-full"></p-select>
                    </div>
                </div>
                <div class="flex flex-col gap-4 mt-10">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <label for="email2">Price</label>
                        <input pInputText id="email2" type="text" />
                    </div>
                </div>
                <div class="flex flex-wrap items-start gap-6">
                    <p-button class="mt-5" label="validate" [fluid]="false"></p-button>
                </div>
                </div>
        </div>
       
       
    </div>
    <div >
        <app-car-type  [namecrud]="service"></app-car-type>
    </div>
      
   


  
</p-fluid>



