<p-fluid>
    <div   class="flex flex-col md:flex-row gap-8  ">
        <div class="md:w-1/2">
            
            <div *ngIf="empList" class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Add or update</div>
                <p-table 
                    [paginator]="true"
                    [rows]="15"
                    [value]="empList" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th id="name">Picture</th>
                            <th id="name">Name</th>
                            <th id="name">Firts Name</th>
                            <th id="up">Update</th>  
                            <th id="up">Active</th>  
                            <th id="del">Delete</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>
                                <img [src]="product.picture" alt={{product.name}}  class="flag flag-" width="30" />
                            </td>
                            <td>{{ product.name }}</td>                   
                            <td>{{ product.firstName }}</td>                   
                            <td><p-button icon="pi pi-pencil" severity="success" outlined (onClick)="setUpdateValue(product)"/></td>  
                            <td><p-button icon="pi-circle-fill" [severity]="colorActive(product.active)"  outlined (onClick)="active(product)"/></td>          
                            <td><p-button icon="pi pi-trash" severity="danger" outlined (onClick)="open(product)"/></td>                   
                        </tr>
                    </ng-template>
                </p-table>
                <p-dialog header="Alert" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true">
                    <p class="leading-normal m-0 justify-center items-center">
                        {{message}}
                      </p>
                      
                    <ng-template #footer>
                        <p-button label="Yes"severity="danger" (onClick)="close()" />
                    </ng-template>
                </p-dialog>  

            </div>
           
           
        </div>
        <div class="md:w-1/2 ">
            <div class="flex flex-col gap-6 bg-green-950 p-6 rounded-xl shadow-lg text-white">
                <div class="flex flex-wrap gap-6">
                    
                    <div class="flex flex-col grow basis-0 gap-2 items-center">
                    <p-image *ngIf="addOrUpdateValue.picture" [src]="addOrUpdateValue.picture" alt="Image" width="250" class="rounded-lg border border-gray-200" />
                    </div>
                    <!-- Form champs : Nom, Prénom, Image -->
                    <div class="flex flex-col grow basis-0 gap-4">
                        <div>
                            <label class="text-sm font-medium text-gray-200">Image</label>
                            <input pInputText type="file" (change)="onFileSelected($event)" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                        </div>
                    <div>
                        <label class="text-sm font-medium text-gray-200">Nom</label>
                        <input pInputText type="text" [(ngModel)]="addOrUpdateValue.name" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                    </div>
                    <div>
                        <label class="text-sm font-medium text-gray-200">Prénom</label>
                        <input pInputText type="text" [(ngModel)]="addOrUpdateValue.firstName" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                    </div>
                    </div>
                </div>
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                    <label class="text-sm font-medium text-gray-200">Date de naissance</label>
                    <input pInputText type="date" [(ngModel)]="addOrUpdateValue.dateofbirth" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                    <label class="text-sm font-medium text-gray-200">Date d'embauche</label>
                    <input pInputText type="date" [(ngModel)]="addOrUpdateValue.dateofemp" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                    <label class="text-sm font-medium text-gray-200">Rôle</label>
                    <p-select [(ngModel)]="addOrUpdateValue.rule" [options]="dropdownItems" optionLabel="name" placeholder="Sélectionner"
                        class="w-full bg-gray-100 text-black rounded" appendTo="body"></p-select>
                    </div>
                </div>
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                    <label class="text-sm font-medium text-gray-200">Email</label>
                    <input pInputText type="email" [(ngModel)]="addOrUpdateValue.login" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                    <label class="text-sm font-medium text-gray-200">Mot de passe</label>
                    <input pInputText type="password" [(ngModel)]="addOrUpdateValue.password" class="bg-gray-100 text-black rounded px-3 py-2 w-full" />
                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                    <label class="text-sm font-medium text-gray-200">Sexe</label>
                    <p-select [(ngModel)]="addOrUpdateValue.sex" [options]="dropdownSexs" optionLabel="name" placeholder="Sélectionner"
                        class="w-full bg-gray-100 text-black rounded" appendTo="body"></p-select>
                    </div>
                </div>
  <!-- Bouton -->
                <div class="flex justify-end mt-6">
                    <button
                    class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-6 rounded-xl shadow-md transition transform hover:-translate-y-1"
                    (click)="modifOrAdd(addOrUpdateValue)">
                    Valider
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-fluid>
