<div class="bg-surface-0 dark:bg-surface-900 h-screen flex">
    <div id="home" class="landing-wrapper overflow-hidden">
        
        <app-topbarclients class="mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center  relative lg:static"></app-topbarclients>
        <p-dataview [value]="products" [layout]="layout">
            <ng-template #list let-items>
                <div class="flex flex-col">
                    <div  class="w-full  flex flex-wrap ml-10 mr-0 "> 
                        <div *ngFor="let item of items; let i = index">
                            <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 " [ngClass]="{ 'border-t border-surface': i !== 0 }">
                                <!-- image + indication -->
                                <div class="md:w-40 relative">
                                    <img class="block xl:block mx-auto rounded w-full" [src]="item.car.picture" [alt]="item.name" />
                                </div>
                                <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                                    <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                        <div>
                                            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">2023-04-15</span>
                                            <div class="text-lg font-medium mt-2">Marque et model voiture</div>
                                        </div>
                                        <div class="bg-surface-100 p-1" style="border-radius: 30px;width:300px;">
                                            <p-progressbar [value]="50" [showValue]="false"></p-progressbar>
                                        </div>
                                    </div>
                                    <div class="flex flex-col md:items-end gap-8">
                                        <span class="text-xl font-semibold">$ {{ item.price }}</span>
                                        <div class="flex flex-row-reverse md:flex-row gap-2">
                                            <p-button icon="pi pi-eye" styleClass="h-full" [outlined]="true"></p-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <p-dialog header="Details of services" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '40vw' }" [modal]="true">
                    <app-det-service></app-det-service>
                    <app-set-service></app-set-service>
                </p-dialog> 
            </ng-template>
             
        </p-dataview>
    </div>
</div>

