<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-button
        label="Profile"
        icon="pi pi-plus"
        label="Ajouter"
        severity="success"
        (click)="addCarSize()"
      />
      <h4>Liste des tailles de voitures</h4>
      <p-table
        [value]="carSizeList"
        stripedRows
        [paginator]="true"
        [rows]="10"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th>Nom</th>
            <th>Pourcentage</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template #body let-carSize>
          <tr>
            <td>{{ carSize.name }}</td>
            <td>{{ carSize.percentage }}</td>
            <td class="flex gap-1">
              <p-button
                icon="pi pi-pencil"
                severity="success"
                (onClick)="updateCarSize(carSize)"
                outlined
              />
              <p-button
                icon="pi pi-trash"
                severity="danger"
                (onClick)="showConfirmation(carSize._id)"
                outlined
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-message></app-message>
<app-confirmation-delete
  [header]="'Confirmation'"
  [message]="'Êtes-vous sûr de vouloir supprimer cet taille de voiture ?'"
  (accept)="handleDelete($event)"
  (reject)="handleReject()"
></app-confirmation-delete>
<app-car-size-form
  [(visibleDialog)]="modalVisible"
  (visibleDialogChange)="modalVisible = $event"
  (carSizeCreated)="onCarSizeCreated()"
  [carSize]="careSize"
></app-car-size-form>
