<div class="grid grid-cols-12 gap-8">
    <app-statswidget class="contents"
    [nbrCostumer]="nbrCostumer"
    [nbrTacheencours]="nbrTacheencours"
    [nbrTacheenAttent]="nbrTacheenAttent"
    [nbrEmployeedispo]="nbrEmployeedispo"
    [nbrMechanic]="nbrMechanic"></app-statswidget>

    <div class="col-span-12 xl:col-span-6  ">
        <div  class="card !mb-8">
            <div class="font-semibold text-xl mb-4">Customor who waiting</div>
            <p-table [value]="listClientEnAttent" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template #header>
                    <tr>
                        <th></th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th pSortableColumn="price">client N</th>
                        <th pSortableColumn="price">client F</th>
                        <th pSortableColumn="price">View</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr>
                        <td>
                            <img [src]="product.idcarcustomer.picture " class="shadow-lg" alt="{{ product.name }}" width="50" />
                        </td>
                        <td>{{ product.idcarcustomer.brand }}</td>
                        <td>{{ product.idcarcustomer.model }}</td>

                        <td>{{ product.idcustomer.name }}</td>
                        <td>{{ product.idcustomer.firstName }}</td>
                        <td>
                            <p-button (onClick)="setUpdateValue(product)" icon="pi pi-eye" severity="secondary" rounded />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog header="Detail Service " [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"  [style]="{ width: '50vw',height:'50vh' }" [modal]="true">
                <h4  *ngIf="detServiceClient">{{detServiceClient.idcustomer.name}} {{detServiceClient.idcarcustomer.brand}} {{detServiceClient.idcarcustomer.model}}</h4>
                <p-table *ngIf="detServiceClient"  [value]="detServiceClient.detail"  responsiveLayout="scroll">
                    <ng-template #header>
                        <tr>
                            <th>Mechanic</th>
                            <th>Service</th>
                            <th>Prix</th>
                            <th >Mechanic tach</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.idmechanic.name}}</td>
                            <td>{{ product.idservice.name}}</td>
                            <td>{{ product.prix }}</td>
                            <td>
                                <p-select id="state" [(ngModel)]="product.idmechanic" [options]="listFreeMechanic" optionLabel="name" placeholder="Select One" class="w-full"></p-select>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>

                    </ng-template>
                </p-table>
                <ng-template #footer>
                    <p-button label="Set mechanic" severity="info"  (onClick)="modifOrAdd(detServiceClient)" />
                    <!-- <p-button label="Send facture" severity="success"  /> -->
                </ng-template>
            </p-dialog> 
        </div>
    
        <div  class="card !mb-8">
            <div class="font-semibold text-xl mb-4">Mechanic dispo</div>
            <p-table [value]="listFreeMechanic" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template #header>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>First</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr>
                        <td>
                            <img [src]="product.picture " class="shadow-lg" alt="{{ product.name }}" width="50" />
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.firstName }}</td>                   
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-span-12 xl:col-span-6  ">
        <div  class="card !mb-8">
            <div class="font-semibold text-xl mb-4">Current task</div>
            <p-table [value]="listClientProgress" [paginator]="true" [rows]="10" responsiveLayout="scroll">
                <ng-template #header>
                    <tr>
                        <th></th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th pSortableColumn="price">client N</th>
                        <th pSortableColumn="price">client F</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr>
                        <td>
                            <img [src]="product.idcarcustomer.picture " class="shadow-lg" alt="{{ product.name }}" width="50" />
                        </td>
                        <td>{{ product.idcarcustomer.brand }}</td>
                        <td>{{ product.idcarcustomer.model }}</td>

                        <td>{{ product.idcustomer.name }}</td>
                        <td>{{ product.idcustomer.firstName }}</td>
                       
                    </tr>
                </ng-template>
            </p-table>
        </div>
 
     
    </div>

</div>
