<a class="flex items-center w-[300px]" href="#" >
    <svg viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-14 mr-2">
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 15L27 3L44 15V35H10V15ZM10 13L27 3L44 13V35H10V13Z"
            fill="#4CAF50"
        />
        <path
            d="M10 15L27 3L44 15V35H10V15Z"
            fill="none"
            stroke="#4CAF50"
            stroke-width="2"
        />
        <path
            d="M10 35H44V33H10V35Z"
            fill="#4CAF50"
        />
    </svg> 
    <span class="text-surface-1000 dark:text-surface-0 font-medium text-2xl leading-normal mr-20">G-Ntsika</span>
</a>



<div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'home' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>My car</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'features' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Services</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'highlights' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Processes</span>
            </a>
        </li>
    </ul>
    <div class="flex items-center flex-col sm:flex-row">
        <p-chip label="Onyama Limba" image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" styleClass="m-1"></p-chip>
        <p-button icon="pi pi-sign-out" severity="secondary" rounded outlined />
    </div>
</div>


