

<div class="grid grid-cols-1 xl:grid-cols-3 gap-6">
    <!-- Courses Section -->
    <div class="xl:col-span-2 space-y-6">
            <div class="popular_card bg-green-950 p-10 pt-24 rounded-md relative">
                <img src="images/4922e519093c213625d0e9eac63dd11d-removebg-preview.png" alt="popular_image" 
                class="w-56 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2  duration-500">

                <p class="italic">Vérification complète avant le passage au contrôle technique</p>
                <h3>Préparation</h3>

                <div class="text-yellow-500 text-xs py-3" >
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-half-fill"></i>
                  <i class="ri-star-line text-gray-400"></i>
                  <i class="ri-star-line text-gray-400"></i>
                </div>
                <div class="flex items-center justify-between">
                  <p class="text-xl">12-03-2025</p>
                  <p class="text-xl">12-03-2025</p>

                  <button class="bg-yellow-500 px-2 py-1 rounded-sm text-xl">
                    30 <i class="ri-percent-line"></i>
                  </button>
                </div>

            </div>
        
            <div class="popular_card bg-green-950 p-10 pt-24 rounded-md relative">
                <img src="images/4922e519093c213625d0e9eac63dd11d-removebg-preview.png" alt="popular_image" 
                class="w-56 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2  duration-500">

                <p class="italic">Vérification complète avant le passage au contrôle technique</p>
                <h3>Préparation</h3>

                <div class="text-yellow-500 text-xs py-3" >
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-half-fill"></i>
                  <i class="ri-star-line text-gray-400"></i>
                  <i class="ri-star-line text-gray-400"></i>
                </div>
                <div class="flex items-center justify-between">
                  <p class="text-xl">12-03-2025</p>
                  <p class="text-xl">12-03-2025</p>

                  <button class="bg-yellow-500 px-2 py-1 rounded-sm text-xl">
                    30 <i class="ri-percent-line"></i>
                  </button>
                </div>

            </div>

            <div class="popular_card bg-green-950 p-10 pt-24 rounded-md relative">
                <img src="images/4922e519093c213625d0e9eac63dd11d-removebg-preview.png" alt="popular_image" 
                class="w-56 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2  duration-500">

                <p class="italic">Vérification complète avant le passage au contrôle technique</p>
                <h3>Préparation</h3>

                <div class="text-yellow-500 text-xs py-3" >
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-half-fill"></i>
                  <i class="ri-star-line text-gray-400"></i>
                  <i class="ri-star-line text-gray-400"></i>
                </div>
                <div class="flex items-center justify-between">
                  <p class="text-xl">12-03-2025</p>
                  <p class="text-xl">12-03-2025</p>

                  <button class="bg-yellow-500 px-2 py-1 rounded-sm text-xl">
                    30 <i class="ri-percent-line"></i>
                  </button>
                </div>

            </div>
    </div>
 <div class="space-y-6 mb-5">
        <!-- Calendar -->
        <app-calendar [year]="2025" [month]="7" moi="juillet" [highlightedDays]="[5, 12, 20, 28]"></app-calendar>
       
    </div>
    
    
</div>

