<app-menubar></app-menubar>
<p-carousel
  [value]="products"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-product #item>
    <div
      class="border border-surface-100 dark:border-surface-700 rounded m-2 p-4"
    >
      <div class="mb-4">
        <div class="relative mx-auto">
          <img
            src="assets/images/test.jpg"
            [alt]="product.name"
            class="w-full rounded-border"
          />
          <p-tag
            [value]="product.inventoryStatus"
            [severity]="getSeverity(product.inventoryStatus)"
            class="absolute"
            styleClass="dark:!bg-surface-900"
            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
          />
        </div>
      </div>
      <div class="mb-4 font-medium">{{ product.name }}</div>
      <div class="flex justify-between items-center">
        <div class="mt-0 font-semibold text-xl">
          {{ "$" + product.price }}
        </div>
        <span>
          <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
          <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
        </span>
      </div>
    </div>
  </ng-template>
</p-carousel>
