 <header id="navbar" class="bg-black fixed w-full top-0 left-0 z-50 ">
      <nav class="container flex items-center justify-between h-16 sm:h-20">
          <div class="font-Lobster sm:text-2xl ">GarageNtsika</div>
          <div id="nav-menu" 
              class="absolute top-0 left-[-100%] min-h-[80vh] w-full bg-green-950/80 backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden
                    lg:static lg:min-h-fit lg:bg-transparent lg:w-auto">
            <ul class="flex flex-col items-center  gap-8
                        lg:flex-row ">
              <li>
                <a href="#home" class="nav-link active">Accueil</a>
              </li>
              <li>
                <a href="#about" class="nav-link">Services</a>
              </li>
              <li>
                <a href="#popular" class="nav-link">Apropos de nous</a>
              </li>
              <li>
                <a href="#review" class="nav-link">Contact</a>
              </li>
            </ul>
          </div>
          <!-- <div class="absolute bottom-0 -right-10 -opacity-90 
            lg:hidden">
            <img src="src/assets/img/leaf-1.png" class="w-32" alt="leaf_image">
          </div> -->
          <!-- <div class="absolute -top-5 -left-5 rotate-90 -opacity-90
           lg:hidden">
            <img src="src/assets/img/leaf-2.png" class="w-32" alt="leaf_image">
          </div> -->
          <div id="hamburger" class="text-xl sm:text-3xl cursor-pointer z-50
          lg:hidden" >
            <i class="ri-menu-4-line" id="hamburger"></i>
          </div>
      </nav>
</header>

<!-- <a class="flex items-center w-[300px]" href="#">
    <svg viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-14 mr-2">
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 15L27 3L44 15V35H10V15ZM10 13L27 3L44 13V35H10V13Z"
            fill="#4CAF50"
        />
        <path
            d="M10 15L27 3L44 15V35H10V15Z"
            fill="none"
            stroke="#4CAF50"
            stroke-width="2"
        />
        <path
            d="M10 35H44V33H10V35Z"
            fill="#4CAF50"
        />
    </svg> 
    <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal mr-20">G-Ntsika</span>
</a>
<a pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="lg:!hidden mr-5" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars !text-2xl"></i>
</a>

<div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'home' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'features' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Services</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'highlights' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Localisations</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'pricing' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Contacts</span>
            </a>
        </li>
    </ul>
    <div class="mr-10 flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        <button pButton pRipple label="Login" routerLink="/auth/login" [rounded]="true" [text]="true"></button>
        <button pButton pRipple label="Register" routerLink="/auth/register" [rounded]="true"></button>
    </div>
</div> -->