
<div  class="flex flex-col md:flex-row w-full ">
    <div *ngIf="servicelist" class="card flex flex-col  w-full">
        <div class="font-semibold text-xl">Historique Services</div>
        <p-table 
            [value]="servicelist" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th id="name">Picture</th>
                    <th id="name">Marque model et version</th>
                    <th id="name">Mécanicien</th>
                    <th id="name">Nom service</th>
                    <th id="name">Prix</th>
                    <th id="name">Heure</th>
                    <th id="name">Satisfaction</th>
                    <th id="name">Payer</th>
                </tr>
            </ng-template>
            <ng-template #body let-product let-rowIndex="rowIndex">
                <ng-container *ngFor="let item of product.serviceList;let i = index;">
                    <tr>
                        <td>
                            <img [src]="item.picture" alt={{item.brandandmodel}}  class="flag flag-" width="30" />
                        </td>
                        <td>{{ item.brandandmodel }}</td> 
                        <td>{{ item.service.idmechanic?.name }}</td>                   
                        <td>{{ item.service.idservice.name }}</td>                   
                        <td>{{ item.service.price }} Ar</td>                   
                        <td>{{ item.service.time }}</td> 
                        <td>
                            <p-button icon="pi pi-star-fill text-yellow-500" severity="info" outlined (onClick)="open(product,i)">
                                <span class="text-surface-900 font-medium text-sm">{{ item.nbrstars}}</span>
                            </p-button> 
                        </td> 
                        <td>                                            
                            <p-button icon="pi pi-credit-card" [severity]="getColorInvoinceButon(product.etats)"  styleClass="flex-auto md:flex-initial whitespace-nowrap" (onClick)="getColorInvoinceFunct(product)"></p-button>
                        </td>                  
                        <td> 
                        
                    </tr>
                    <p-dialog header="Avis" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true">
                        <p class="leading-normal m-0 justify-center items-center">
                            Votre avis sur ce service et ce mécanicien  
                        </p>
                        <div class="flex flex-col gap-4 mt-10">
                            <div class="flex flex-wrap gap-2">
                                <label for="username"></label>
                                <input *ngIf="this.modifivalue"  pInputText id="email2" type="text" [(ngModel)]="this.modifivalue.serviceList[this.index].nbrstars" />
                            </div>
                        </div>
                       
                        <ng-template #footer>
                            <p-button label="Do"severity="success" (onClick)="close()" />
                        </ng-template>
                    </p-dialog> 
                    <!-- payement facture -->
                    <p-dialog header="Payement Facture" [(visible)]="displaypaiement" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true">
                        <div class="flex flex-col gap-2 mb-2">
                            <label for="email1">Person Name</label>
                            <input pInputText id="email1" type="text" required [(ngModel)]="infopayement.name"  #name="ngModel"/>
                            <div [hidden]="name.valid || name.pristine"
                                class="card-panel red accent-1">
                                Le nom du personne du cart et requise.
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 mb-2">
                            <label for="age1">Card Number</label>
                            <input pInputText id="age1" type="text" pattern="^[0-9]{1,25}$" required [(ngModel)]="infopayement.numbercard"  #numbercard="ngModel" maxlength="16" minlength="16"/>
                            <div [hidden]="numbercard.valid || numbercard.pristine"
                                class="card-panel red accent-1">
                                La taille du numéro de carte devrait être 16
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-6 mb-2">
                            <div class="flex flex-col grow basis-0 gap-2">
                                <label for="name2">Expiry</label>
                                <input pInputText id="name2" type="text" required [(ngModel)]="infopayement.expiry"  #expiry="ngModel" maxlength="5" minlength="5"/>
                                <div [hidden]="expiry.valid || expiry.pristine"
                                    class="card-panel red accent-1">
                                    format du expriry MM/YY
                                </div>
                            </div>
                            <div class="flex flex-col grow basis-0 gap-2 mb-2">
                                <label for="email2">CVV/CVC</label>
                                <input pInputText id="email2" type="text" pattern="^[0-9]{1,25}$"  required [(ngModel)]="infopayement.cvv"  #cvv="ngModel" maxlength="3" minlength="3"/>
                                <div [hidden]="cvv.valid || cvv.pristine"
                                    class="card-panel red accent-1">
                                    Taille du chiffre 3
                                </div>
                            </div>
                        </div>
                        <div class="font-semibold text-xl">Paiement de la facture de somme de {{getTotalInvoice() |formatnumberpipe}} Ar</div>
                       
                        <ng-template #footer>
                            <p-button label="Payer"severity="success" (onClick)="closeInvoice()" />
                        </ng-template>
                          
                    </p-dialog> 

                </ng-container>
            </ng-template>
        </p-table>
                         
        
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
         
    </div>
</div>


