<p-fluid>
  <div class="flex flex-col gap-8">
    <div *ngIf="empList" class="card gap-4">
      <div class="flex flex-row flex-wrap">
        <p-button label="Ajouter" (onClick)="addNewEmployee()" severity="success" />
      </div>
      <div class="font-semibold text-xl pt-2">Listes des employées</div>
      <p-table
        [paginator]="true"
        [rows]="9"
        [value]="empList"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th id="name">Photo</th>
            <th id="name">Nom</th>
            <th id="name">Prénoms</th>
            <th id="up">Action</th>
          </tr>
        </ng-template>
        <ng-template #body let-product>
          <tr>
            <td>
              <img
                [src]="product.picture"
                alt="{{ product.name }}"
                class="flag flag-"
                width="30"
              />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.firstName }}</td>
            <td>
              <p-button
                icon="pi pi-pencil"
                severity="success"
                outlined
                (onClick)="updateEmployee(product._id)"
              />
              <p-button
                class="ml-2"
                icon="pi pi-trash"
                severity="danger"
                outlined
                (onClick)="showConfirmation(product._id)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-fluid>
<app-confirmation-delete
  [header]="'Confirmation'"
  [message]="'Êtes-vous sûr de vouloir supprimer cet employé ?'"
  (accept)="handleDelete($event)"
  (reject)="handleReject()"
></app-confirmation-delete>
<app-message></app-message>
