<div class="grid">
  <div class="col-12">
    <div class="card">
      <h4>Empty Page</h4>
      <div class="card grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 div-calendar">
          <p-calendar
            class="max-w-full"
            [(ngModel)]="date"
            [inline]="true"
            [showWeek]="true"
          />
        </div>
        <div class="col-span-12 md:col-span-6">
          <h5 class="text-center">Términé</h5>
        </div>
      </div>
    </div>
  </div>
</div>
