<div class=" w-[400px] h-[200px] card flex flex-col md:flex-row gap-4 m-0 border border-gray-300 rounded-lg m-2">
    <div class="md:w-1/2 flex flex-col gap-2">
      <p-image [src]="value.car.picture" alt="Image" width="250" height="250" />
    </div>
    <div class="md:w-1/2 flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label for="name1"> <strong>{{value.service.name}}</strong> </label>
      </div> 
      <div class="flex flex-col gap-2">
        <label for="name1">{{value.car.brand+" "+value.car.model}}</label>
      </div>
      <div class="flex flex-col gap-2">
        <label for="email1">{{value.car.carType.name}}</label>
      </div>
      <div class="flex flex-col gap-2">
        <label for="age1">  {{value.car.sizeType.name+"  "+value.car.weigthType.name}}</label>
      </div>
      <div class="flex flex-col gap-2">
        <label for="age1">{{value.price | formatnumberpipe}} Ar</label>
      </div>
    </div>
</div>
