
<div class="bg-surface-0 dark:bg-surface-900 h-screen flex w-full ">
    <div id="home" class="w-full landing-wrapper ">
        <app-topbarclients [style]="{width: '100%'}" class="py-6 px-10 mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center justify-between relative lg:static"></app-topbarclients>
        <p-fluid id="features" class="bg-white ">
            <div   class="w-full flex flex-col md:flex-row gap-8 bg-white  mt-10 ">
                <div [style]="{width: '70%'}" class="w-full h-90  flex flex-wrap ml-10 mr-0 "> 
                    <div *ngFor="let item of carCostumerListe">
                        <app-car-client-list [value]="item" (updateF)="setUpdateValue($event)"  (deleteF)="open($event)"  (close)="close($event)"></app-car-client-list>
                    </div>
                   <div class="w-full">
                    <p-paginator *ngIf="rows>0" (onPageChange)="onPageChange($event)" [first]="skip" [rows]="limit" [totalRecords]="rows" [rowsPerPageOptions]="[6, 9, 12]" />
                   </div>
                </div>
                
                <div [style]="{width: '30%'}" class="ml-0 justify-center items-center pr-2 "> 
                    <div class="card w-full bg-red-200">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0 gap-2">
                                <p-image [src]="addOrUpdateValue.picture" alt="Image" width="250" />
                            </div>
                            <div class="flex flex-col grow basis-0 gap-2">
                                <label for="email2">Image</label>
                                <input pInputText id="email2" type="file"  (change)="onFileSelected($event)"/>
                                <label for="email2">Marque</label>
                                <input *ngIf="addOrUpdateValue"  pInputText id="email2" type="text" [(ngModel)]="addOrUpdateValue.brand"/>
                                <label for="email2">Model</label>
                                <input *ngIf="addOrUpdateValue" pInputText id="email2" type="text" [(ngModel)]="addOrUpdateValue.model" />
                            </div>
                        </div>
                        <div class="flex flex-col gap-4 mt-10">
                        
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <label for="name2">Type care</label>
                                    <p-select id="state" [(ngModel)]="addOrUpdateValue.carType" [options]="dropdownItemsCarTypes" optionLabel="name" [placeholder]="addOrUpdateValue.carType.name" class="w-full"></p-select>
                                </div>
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <label for="email2">version</label>
                                    <input pInputText [(ngModel)]="addOrUpdateValue.version" id="email2" type="text" />
                                </div>
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <label for="email2">date sortie</label>
                                    <input pInputText [(ngModel)]="addOrUpdateValue.datesortie" id="email2" type="date"  />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-4 mt-10">
                            <div class="flex flex-wrap gap-2">
                                <label for="username">Type moteur</label>
                                <p-select id="state" [(ngModel)]="addOrUpdateValue.engineType" [options]="dropdownItemsEngine" optionLabel="name" placeholder="engines" class="w-full"></p-select>
                            </div>
                        </div>
                        <div class="flex flex-col gap-4 mt-10">
                            
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <label for="name2">Taille</label>
                                    <p-select id="state" [(ngModel)]="addOrUpdateValue.sizeType" [options]="dropdownItemsSize" optionLabel="name" [placeholder]="addOrUpdateValue.sizeType.name" class="w-full"></p-select>
                                </div>
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <label for="email2">Poids</label>
                                    <p-select id="state" [(ngModel)]="addOrUpdateValue.weigthType" [options]="dropdownItemsWeigth" optionLabel="name" [placeholder]="addOrUpdateValue.weigthType.name" class="w-full"></p-select>
                                </div>
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <label for="email2">Empathement</label>
                                    <input pInputText id="email2" type="text" [(ngModel)]="addOrUpdateValue.empathement" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-start gap-6">
                            <p-button class="mt-5" label="validate" [fluid]="false" (onClick)="modifOrAdd(addOrUpdateValue)"></p-button>
                            <!-- <p-button class="mt-5" label="reload" [fluid]="false"(onClick)="relaod()"></p-button> -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <p-dialog header="Set serivec for this car ?" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '40vw' }" [modal]="true">
               <app-set-service></app-set-service>
            </p-dialog> 
        </p-fluid>    
    </div>
</div>
