<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-button
        label="Profile"
        icon="pi pi-plus"
        label="Ajouter"
        severity="success"
        (click)="showDialog()"
      />
      <p-table
        [value]="carTypeList"
        stripedRows
        [paginator]="true"
        [rows]="10"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th>Nom</th>
            <th>Pourcentage</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template #body let-carType>
          <tr>
            <td>{{ carType.name }}</td>
            <td>{{ carType.percentage }}</td>
            <td class="flex gap-1">
              <p-button icon="pi pi-pencil" severity="success" outlined />
              <p-button
                icon="pi pi-trash"
                severity="danger"
                (onClick)="deleteCarType(carType._id)"
                outlined
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog
  header="Ajouter type de voiture"
  [(visible)]="visibleDialog"
  [style]="{ width: '25rem' }"
  [modal]="true"
>
  <div class="flex items-center gap-4 mb-4">
    <label for="nom" class="font-semibold w-24">Nom</label>
    <input pInputText id="nom" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="pourcentage" class="font-semibold w-24">Pourcentage</label>
    <p-inputnumber
      id="pourcentage"
      class="flex-auto"
      inputId="minmaxfraction"
      mode="decimal"
      [minFractionDigits]="2"
      [maxFractionDigits]="2"
      [min]="0"
      [max]="100"
    />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Annuler" severity="secondary" (click)="cancelDialog()" />
    <p-button label="Enregistrer" (click)="submitForm()" />
  </div>
</p-dialog>
