

<p-fluid id="features" >
    <div   class="mt-2 flex flex-col md:flex-row gap-8  m-0">
        <div class="w-full h-90 md:w-3/4 flex flex-wrap ml-10 mr-0 "> 
            <div *ngFor="let item of servicepriceListe">
                <div *ngFor="let v of item.servicelist" class="w-[400px] h-[200px] card flex flex-col md:flex-row gap-4 m-0 border border-gray-300 rounded-lg m-2">
                    <div class="md:w-1/2 flex flex-col gap-2">
                      <p-image [src]="item.picture" alt="Image" width="250" height="250" />
                    </div>
                    <div class="md:w-1/2 flex flex-col gap-4">
                      <div class="flex flex-col gap-2">
                        <label for="name1"> <strong>{{ item.brandandmodel }}</strong> </label>
                      </div> 
                     
                      <div class="flex flex-col gap-2">
                        <label for="email1"><b>Service:</b>{{ v.idservice.name }}</label>
                      </div>
                      <div class="flex flex-col gap-2">
                        <label for="email1"><b>Price:</b>{{ v.price | formatnumberpipe}}</label>
                      </div>
                      <div class="flex flex-col gap-2">
                        <label for="email1"><b>time:</b>{{ v.time }}</label>
                      </div>
                    </div>
                    <p-button icon="pi pi-shopping-cart" (onClick)="addcar(v,item._id,item.picture,item.brandandmodel)" rounded
                     />
                  </div>
            </div>
           <div class="w-full">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="skip" [rows]="limit" [totalRecords]="50" [rowsPerPageOptions]="[6, 9, 12]" />
           </div>
        </div>
        <div class="md:w-1/4 ml-0 justify-center items-center pr-2 "> 
            <div class="flex flex-col gap-4 mt-10">
                <div class="flex flex-wrap gap-2">
                    <label for="username">Marque model et version</label>
                    <input  pInputText id="email2" type="text" [(ngModel)]="brandandmodel" />
                </div>
            </div>
            <div class="flex flex-wrap items-start gap-6">
                <p-button class="mt-5" label="validate" [fluid]="false" (onClick)="onsearche()" ></p-button>
                <p-button class="mt-5" label="reload" [fluid]="false" (onClick)="loadData()" ></p-button>

            </div>
           
        </div>
    </div>
</p-fluid>

