<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <svg viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10 15L27 3L44 15V35H10V15ZM10 13L27 3L44 13V35H10V13Z"
                    fill="#4CAF50"
                />
                <path
                    d="M10 15L27 3L44 15V35H10V15Z"
                    fill="none"
                    stroke="#4CAF50"
                    stroke-width="2"
                />
                <path
                    d="M10 35H44V33H10V35Z"
                    fill="#4CAF50"
                />
            </svg>
            <span>NG-TSIKA</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
                <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
            <div class="relative">
                <button
                    class="layout-topbar-action layout-topbar-action-highlight"
                    pStyleClass="@next"
                    enterFromClass="hidden"
                    enterActiveClass="animate-scalein"
                    leaveToClass="hidden"
                    leaveActiveClass="animate-fadeout"
                    [hideOnOutsideClick]="true"
                >
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>
        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button>
                <button type="button" class="layout-topbar-action" 
                (click)="destroyLocalStorage()">
                    <i class="pi pi-sign-out"></i>
                    <span>Log out</span>
                </button>
            </div>
        </div>
    </div>
</div>